.card-container {
  /* Frame 481303 */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  gap: 10px;

  width: 390px;

  background: #ffffff;
  border-radius: 10px;

  /* Inside auto layout */
  /* flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0; */
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  cursor: pointer;
}

.card-title {
  /* Site Address */

  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */

  color: #000000;

  /* Inside auto layout */
  /* flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0; */
}

.card-title-ex {
  /* Site Address */

  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 15px;
  /* identical to box height */

  color: #000000;

  /* Inside auto layout */
  /* flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0; */
}

.card-body {
  width: 100%;
  height: 100%;
}

.card-info {
  /* 5 Panels */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;

  color: #000000;
  margin-right: 10px;
}

.card-header-tag {
  display: flex;
}
