.custom-select {
  position: relative;
}

.select-box {
  /* Frame 5876 */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 6px 10px 6px 15px;
  gap: 108px;

  height: 46px;

  background: #ecedef;
  border-radius: 10px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.select-label {
  /* Frame 481123 */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 2px;
  width: 148px;
  height: 34px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.title {
  /* Calculation Type */

  height: 14px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */

  color: #909090;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.value {
  /* Monthly Consumption */

  height: 18px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  /* identical to box height */

  color: #000000;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.options-list {
  /* Frame 5878 */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 6px 10px;

  position: absolute;
  width: 370px;
  top: 57px;

  background: #ecedef;
  box-shadow: 2.5px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  z-index: 1;
}

.option-item {
  /* Frame 481123 */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px 0px;
  gap: 2px;

  width: 350px;
  height: 28px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  cursor: pointer;
}
