.zone-card-container {
  border-radius: 10px;
  padding: 10px;
  background-color: white;
  margin-bottom: 10px;
  width: 100%;
  /* overflow: hidden; */
}

.zone-card-header {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.zone-title {
  height: 23px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;

  color: #000000;
}

.zone-id {
  height: 23px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;

  color: #000000;
}

.zone-card-body {
  display: flex;
  height: 270px;
  margin-bottom: 10px;
}

.zone-from-map {
  flex: 1;
  margin-right: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.zone-info {
  flex: 1;
  background-color: #efefef;
  border-radius: 10px;
  border-collapse: collapse;
}

.key {
  text-align: left;
  border: 1px solid white;
  padding: 10px 21px 10px 15px;
}

.val {
  text-align: right;
  border: 1px solid white;
  padding: 10px 10px 10px 0px;
}
