.table {
  display: flex;
  flex-direction: column;
  overflow: auto;
  flex: 1;
  border-collapse: collapse;
  border-radius: 15px;
  background-color: #f1f2f4;
}

.tr {
  width: 100%;
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: center;
}

.trPointer {
  width: 100%;
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.thead {
}

.th {
  font-size: 10px;
  min-width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tbody {
  flex: 1;
}

.td {
  font-size: 15px;
  min-width: 100px;
  height: 60px;
  border: 1px solid white;
  border-left-width: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
