.page {
  display: flex;
  flex-direction: column;
  background-color: #F1F2F4;
  height: calc(100% - 90px);
  margin-top: 90px;
  flex:1;
  overflow: auto;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: auto;
}

.content {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 10px 15px 10px 10px;
  border-radius: 10px;
  background-color: #ecedef;
  overflow: auto;
  display: flex;
}

.generalInfo {
  flex:1;
}

.panelList {
  height: 65%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: auto auto auto auto;
  overflow: auto;
}

.panel {
  /* background-color: white; */
  width: 16.66%;
  height: 50%;
  display: flex;
}

.panel>div {
  margin: 5px;
  padding:5px;
  border-radius: 10px;
  background-color: white;
  flex:1;
}

.generalInfo {
  height: 35%;
  width: 100%;
  display: flex;
  gap:20px;
}

.genContent {
  background-color: white;
  border-radius: 10px;
  padding: 5px;
}

.item {
  display: flex;
  justify-content: space-between;
  font-size:12px;
  gap:20px;
  padding:2px;
}

.panelContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.panelContent>div {
  flex:1;
  display: flex;
  font-size: 12px;
  justify-content: space-between;
  padding-left: 5px;
  padding-right: 5px;
}

.panel>div>div>p:last-child {
  text-align: center;
}

/* .contentInner {
  flex: 1;
  display: flex;
  margin: 10px;
  flex-direction: column;
  overflow: auto;
} */

.title {
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0px;
  font-size: 20px;
  margin-bottom: 10px;
}

.search {
  display: flex;
  justify-content: space-between;
}

.mapContainer {
  flex: 1;
  right: 10px;
  /* position: relative; */
}

.map {
  position: relative;
  height: calc(100%);
  width: calc(100%);
}

/* Extra small devices (phones, 600px and down) */
@media (max-width: 600px) {
  .element {
    font-size: 12px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media (min-width: 600px) {
  .element {
    font-size: 14px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) {
  .element {
    font-size: 16px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .element {
    font-size: 18px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .element {
    font-size: 20px;
  }
}