.td {
  padding: 5px 10px 5px 10px;
}

tr .td:first-child {
  border-right: 1px solid white;
}
.td img {
  cursor: pointer;
}

tr .td:last-child {
  border-right: 1px solid #ecedef;
}

.nested-tr {
  background: white;
}

.nested-tr {
  border-bottom: 1px solid #ecedef;
}


.down {
  transform: rotate(180deg);
}

.up {}

.hide {
  display: none;
}

.icons img:hover {
  cursor: pointer;
}