.code-card-container {
  /* Frame 481440 */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  gap: 10px;

  width: 390px;
  height: 185px;

  background: #ffffff;
  border-radius: 10px;
}

.code-card-logo {
  /* ✏️ Text */

  width: 359px;
  height: 24px;

  /* Custom/Body 1 */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  text-align: center;

  color: #000000;
}

.code-box {
  /* Frame 481123 */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 15px;

  width: 359px;
  height: 60px;
}
.code-card-footer {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 8px;

  width: 359px;
  height: 27px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}
