.container {
  display: flex;
  height: 100%;
  width: 100%;
}

.sideContainer {
  width: 300px;
  min-width: 300px;
  background-color: white;
  border-radius: 0 12px 12px 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.contentContainer {
  flex: 1;
  background-color: #ecedef;
  display: flex;
  overflow: auto;
}

.logoContainer {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.logoContainer > img {
  width: 100%;
}
.logo {
  height: 50px;
  flex: 1;
}

.menuItemContainer {
  padding: 25px 15px;
  flex: 1;
  overflow: auto;
}

.menuItemContainerItem {
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 5px;
}

/* Extra small devices (phones, 600px and down) */
@media (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media (min-width: 600px) {
  .element {
    font-size: 14px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media (max-width: 768px) {
  .sideContainer {
    /* width:50px;
    min-width: 50px; */
  }
  .contentContainer {
    width: calc(100% - 50px);
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .element {
    font-size: 18px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .element {
    font-size: 20px;
  }
}
