.page {
  display: flex;
  flex-direction: column;
  background-color: #F1F2F4;
  height: calc(100% - 90px);
  margin-top: 90px;
  flex:1;
  overflow: auto;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: auto;
}

.content {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 10px 15px 10px 10px;
  border-radius: 10px;
  background-color: white;
  overflow: auto;
}

.contentInner {
  flex: 1;
  display: flex;
  margin: 10px;
  flex-direction: column;
  overflow: auto;
}

.contentInner td {
  /* max-width: 120px; */
}

.title {
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0px;
  font-size: 20px;
  margin-bottom: 10px;
}

.search {
  display: flex;
  justify-content: space-between;
}

/* Extra small devices (phones, 600px and down) */
@media (max-width: 600px) {
  .element {
    font-size: 12px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media (min-width: 600px) {
  .element {
    font-size: 14px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) {
  .element {
    font-size: 16px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .element {
    font-size: 18px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .element {
    font-size: 20px;
  }
}