.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 25px;
  gap: 10px;

  height: 110px;
  width: 20%;

  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 4px rgba(0, 0, 0.3);
  cursor: pointer;
}

.card-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;

  height: 58px;
}

.key,
.val {
  height: 24px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

@media only screen and (max-width: 1150px) {
  .card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 25px;
    gap: 10px;

    height: 110px;
    width: 40%;

    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 4px rgba(0, 0, 0.3);
    cursor: pointer;
  }
}

@media only screen and (max-width: 850px) {
  .card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 25px;
    gap: 10px;

    height: 110px;
    width: 100%;

    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 4px rgba(0, 0, 0.3);
    cursor: pointer;
  }
}
