body {
    width: 100%;
    height: 100%;
}

#root {
    width: 100%;
    height: 100%;
}

.table {
    width: Fixed (1, 393px)px;
    height: Hug (785px)px;
    top: 115px;
    left: 23px;
    padding: 10px 15px 10px 10px;
    gap: 15px;
    border-radius: 10px 0px 0px 0px;
    opacity: 0px;
}

.page {
    width: 100%;
    height: calc(100% - 150px);
}

.caption {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 23.44px;
    text-align: left;
    width: 132px;
    height: 23px;
    gap: 0px;
    opacity: 0px;

}
