.add-system-container {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel {
  position: absolute;
  top: 120px;
  right: 20px;
}
